
<div class="tab_eval">
    <div class="eval_lib fw-bold">Évaluation(s) :
    {# </div>
    <div class="d-flex justify-content-end mb-3"> #}
        {# <a href="#" class="btn btn-primary me-2">Ajout d'une évaluation</a> #}
        {% if Susar.casSusarEuV1 == false %}
            <a href="{{ path('app_eval_susar',{'idsusar':Susar.id}) }}" class="btn btn-primary me-2">Ajout d'une évaluation</a>					
            <a href="{{ path('app_supp_tout_eval',{'idsusar':Susar.id}) }}" class="btn btn-danger">Supprimer toutes les évaluations</a>
            {# bg-susar-v2 #}
        {% else %}
            {# bg-susar-v1 #}
        {% endif %}


    </div>

    <div class="eval">
        <table class="table table-bordered table-striped tab_susar_eu_dtl">
        {# <table class="table table-bordered table-striped"> #}
            <thead>
                <tr>
                    <th>Substance name</th>
                    <th>PT</th>
                    <th>Assessment outcome</th>
                    <th>Comments</th>
                    <th>Date éval.</th>
                    <th>Utilisateur créa.</th>
                    <th>Utilisateur modif.</th>
                    <th>Modif.</th>
                    <th>Supp.</th>
                </tr>
            </thead>
            <tbody>
                {% for substancePt in Susar.substancePts %}
                    <tr>
                        <td>{{substancePt.ActiveSubstanceHighLevel}}</td>
                        <td>{{substancePt.Reactionmeddrapt}}</td>

                        {% set idSubstancePtEval = '' %}
                        {% set AssessmentOutcome = '' %}
                        {% set Comments = '' %}
                        {% set DateEval = '' %}
                        {% set UserCreate = '' %}
                        {% set UserModif = '' %}
                        {% for SubstancePtEval in substancePt.SubstancePtEvals %}
                            {% set idSubstancePtEval = SubstancePtEval.id %}
                            {% set AssessmentOutcome = AssessmentOutcome ~ SubstancePtEval.AssessmentOutcome ~ ' ' %}
                            {% set Comments = Comments ~ SubstancePtEval.Comments ~ ' ' %}
                            {% set DateEval = DateEval ~ SubstancePtEval.DateEval|format_datetime(dateFormat='full', timeFormat='none', locale='fr') ~ ' ' %}

                            {% set UserCreate = UserCreate ~ SubstancePtEval.UserCreate ~ ' (' ~ SubstancePtEval.CreatedAt|date('d/m/Y H:i:s') ~ ')' ~ ' ' %}
                            {% set UserModif = UserModif ~ SubstancePtEval.UserModif ~ ' (' ~ SubstancePtEval.UpdatedAt|date('d/m/Y H:i:s') ~ ')' ~ ' ' %}
                        {% endfor %}

                        {% if AssessmentOutcome is not empty %}
                            <td>{{ AssessmentOutcome }}</td>
                        {% else %}
                            <td>Pas d'évaluation</td>
                        {% endif %}								
                        <td>{{ Comments }}</td>
                        <td>{{ DateEval }}</td>
                        <td>{{ UserCreate }}</td>
                        <td>{{ UserModif }}</td>


                        {% if idSubstancePtEval != '' %}

                            {% if Susar.casSusarEuV1 == false %}
                                {# bg-susar-v2 #}
                                <td><a href="{{ path('app_modif_eval',{'idsusar': Susar.id, 'idSubstancePt': substancePt.id, 'idSubstancePtEval': idSubstancePtEval}) }}" class="btn btn-primary">Modifier</a></td>
                                <td><a href="{{ path('app_supp_eval',{'idsusar': Susar.id, 'idSubstancePt': substancePt.id, 'idSubstancePtEval': idSubstancePtEval}) }}" class="btn btn-danger">Supprimer</a></td>
                            {% else %}
                                {# bg-susar-v1 #}
                                <td></td>
                                <td></td>
                            {% endif %}
                        {% else %}
                            {# <td><a href="#" class="btn btn-primary">Ajouter</a></td> #}
                            <td></td>
                            <td></td>
                        {% endif %}	
                        {# <td><a href="{{ path('app_supp_eval',{'idsusar':Susar.id},{'idSubstancePt':substancePt.id},{'idSubstancePtEval':idSubstancePtEval}) }}" class="btn btn-danger">Supprimer</a></td> #}

                    </tr>						
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

