{% extends 'base.html.twig' %}

{% block title %}Liste des susars{% endblock %}

{% block body %}

<div class="container-fluid p-5">

    <div>
        {% if Susars %}
            Nombre de lignes : {{ NbSusar }}
            <h3>Liste des SUSARs</h3>
            <ul>
                {% for Susar in Susars %}
                    <li>{{ Susar.MasterId|e }} / {{ Susar.specificcaseid|e }} / {{ Susar.DLPVersion|e }}</li>
                {% endfor %}
            </ul>
        {% else %}
            ---
        {% endif %}
    </div>

    <div>
        {{ knp_pagination_render(Susars) }}
    </div>

</div>


{% endblock %}
