{% extends 'base.html.twig' %}

{% block body %}

{{ encore_entry_link_tags('type_eu_detail_css') }}

{% if Susar is not empty %}

	{# Affichage des messages flash #}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			{% if type == 'error' %}
				<div class="alert alert-danger">{{ message }}</div>
			{% elseif type == 'success' %}
				<div class="alert alert-success">{{ message }}</div>
			{% elseif type == 'warning' %}
				<div class="alert alert-warning">{{ message }}</div>
			{% else %}
				<div class="alert alert-info">{{ message }}</div>
			{% endif %}
		{% endfor %}
	{% endfor %}



	{# <div class="container_susar_eu_dtl"> #}
		{# <div class="container-fluid"> #}
		<div class="container-fluid {% if Susar.casSusarEuV1 == true %}bg-susar-v1{% else %}bg-susar-v2{% endif %}">

			<div class="suspectDrug_lib fw-bold">Médicament(s) suspect(s) :</div>
			<div class="suspectDrug">
				<table class="table table-bordered table-striped tab_susar_eu_dtl">
				{# <table class="table table-bordered table-striped"> #}
					<thead>
						<tr>
							<th>Sub. act. High-level</th>
							<th>Product name</th>
							<th>Substance name</th>
							<th>Characterization</th>
						</tr>
					</thead>
					<tbody>



						{% for med in Susar.Medicament %}

							{% if med.productcharacterization == 'Suspect' or med.productcharacterization == 'Interacting' %}
								<tr>
									<td>{{med.ActiveSubstanceHighLevel}}</td>
									<td>{{med.Productname}}</td>
									<td>{{med.Substancename}}</td>
									<td>{{med.productcharacterization}}</td>
								</tr>

							{% endif %}

						{% endfor %}

					</tbody>
				</table>
			</div>

			<button id="toggleBtnMedConcom" class="btn btn-primary">Afficher les médicaments concomitants</button>

			<div id="med_concomitant" class="d-none">
				<div class="suspectDrug_lib fw-bold">Médicament(s) concomitant(s) :</div>
				<div class="suspectDrug">
					<table class="table table-bordered table-striped tab_susar_eu_dtl">
					{# <table class="table table-bordered table-striped"> #}
						<thead>
							<tr>
								<th>Sub. act. High-level</th>
								<th>Product name</th>
								<th>Substance name</th>
								<th>Characterization</th>
							</tr>
						</thead>
						<tbody>
							{% for med in Susar.Medicament %}

								{% if med.productcharacterization == 'Concomitant' or med.productcharacterization == 'Drug Not Administered' %}
									<tr>
										<td>{{med.ActiveSubstanceHighLevel}}</td>
										<td>{{med.Productname}}</td>
										<td>{{med.Substancename}}</td>
										<td>{{med.productcharacterization}}</td>
									</tr>

								{% endif %}

							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<div class="PT_outcome_lib fw-bold">Reaction PT :</div>
			<div class="PT_outcome">
				<table class="table table-bordered table-striped tab_susar_eu_dtl">
					<thead>
						<tr>
							<th>Lib. PT</th>
							<th>Date début</th>
							<th>Lib. SOC</th>
							<th>Lib. HLGT</th>
							<th>Lib. HLT</th>
						</tr>
					</thead>
					<tbody>
						{% for EI in Susar.EffetsIndesirables %}
							<tr>
								<td>{{EI.Reactionmeddrapt}}</th>
								<td>{{EI.Reactionstartdate|format_datetime(dateFormat='short', timeFormat='none', locale='fr')}}</td>
								<td>{{EI.Soc}}</td>
								<td>{{EI.Reactionmeddrahlgt}}</td>
								<td>{{EI.Reactionmeddrahlt}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>


			<div class="row">
				<div class="col-1">
					<div>Age :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.patientAge }} {{ Susar.patientAgeUnitLabel }}</div>
				</div>
				<div class="col-1">
					<div>Age group :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.patientAgeGroup }}</div>
				</div>
				<div class="col-1">
					<div>Sex :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.patientSex }}</div>
				</div>
				<div class="col-4">
					<div>Seriousness fields :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.seriousnessCriteria|raw }}</div>
				</div>
				<div class="col-5">
					<div class="indication_lib fw-bold">Indication(s) :</div>
					<div class="indication">
						<table class="table table-bordered table-striped tab_susar_eu_dtl">
							<thead>
								<tr>
									<th>Product name</th>
									<th>Indication fr.</th>
									<th>Indication en.</th>
								</tr>
							</thead>
							<tbody>
								{% for indic in Susar.IndicationsTable %}
									<tr>
										<td>{{indic.ProductName}}</th>
										<td>{{indic.ProductIndications}}</td>
										<td>{{indic.ProductIndicationsEng}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-1">
					<div>N° cas BNPV :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.specificcaseid }}</div>
				</div>
				<div class="col-1">
					<div>DLP version :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.DLPVersion }}</div>
				</div>
				<div class="col-1">
					<div>Master_id :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.MasterId }}</div>
				</div>
				<div class="col-1">
					<div>idSusar :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.id }}</div>
				</div>
				{% if Susar.casSusarEuV1 == true %}
					<div class="col-1">
						<div>idCTLL :</div>
						<div class="chp_susar_eu_dtl">{{ Susar.idCTLL }}</div>
					</div>
                {% else %}
					<div class="col-1">
					</div>
				{% endif %}

				<div class="col-1">
					<div>Pays de survenue :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.PaysSurvenue }}</div>
				</div>
				<div class="col-7">



				</div>
			</div>
			<div class="row">
				<div class="col-2">
					<div>Study registration number (num EUDRA_CT) :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.NumEudract }}</div>
				</div>
				<div class="col-2">
					<div>World wide id :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.WorldWideId }}</div>
				</div>
				<div class="col-2">
					<div>Nom de l'étude :</div>
					<div class="chp_susar_eu_dtl">{{ Susar.studytitle }}</div>
				</div>
			</div>


			<div class="row">
				<div class="col-12">
					<div>Narratif (complet) :</div>
					<div class="chp_susar_eu_dtl chp_narr_dtl">{{ Susar.narratif }}</div>
				</div>
			</div>
			
			{# {% include "templates/_partials/_eval_tab_1.html.twig" %} #}
			{# {% include "_partials/_eval_tab_1.html.twig" %} #}
			{% include "_partials/_eval_tab_2.html.twig" %}

			<div class="DMM_Pole_lib fw-bold">DMM/Pôle/évaluateur :</div>
			<div class="DMM_Pole">
				<table class="table table-bordered table-striped tab_susar_eu_dtl">
					<thead>
						<tr>
							<th>DMM</th>
							<th>Pôle</th>
							<th>Évaluateur</th>
							<th>SaMS/Mono.</th>
						</tr>
					</thead>
					<tbody>
						{% for intervenant in Susar.IntervenantSubstanceDMMs %}
							<tr>
								<td>{{intervenant.DMM}}</th>
								<td>{{intervenant.PoleCourt}}</td>
								<td>{{intervenant.Evaluateur}}</td>
								<td>{{intervenant.TypeSaMSMono}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="medicalHistory_lib fw-bold">medical history :</div>
			<div class="medicalHistory">
				<table class="table table-bordered table-striped tab_susar_eu_dtl">
					<thead>
						<tr>
							<th>Lib. PT</th>
							<th>Lib. LLT</th>
							<th>Continuing</th>
							<th>Medicalcomment</th>
						</tr>
					</thead>
					<tbody>
						{% for med_his in Susar.medicalHistories %}
							<tr>
								<td>{{med_his.DiseaseLibPT}}</td>
								<td>{{med_his.DiseaseLibLLT}}</td>
								<td>{{med_his.Continuing}}</td>
								<td>{{med_his.Medicalcomment}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{# {{ form_start(form) }}
			<div class="row">
				<div class="col-3">
					{{ form_widget(form.Save) }}
				</div>
			</div>
			{{ form_end(form) }} #}
		</div>
	{# </div> #}
{% else %}
	{# On n'a pas de Susar #}
	<div class="alert alert-danger" role="alert">
    	Ce SUSAR n'existe pas
	</div>
{% endif %}



{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('SusarEuDetail') }}
{% endblock %}