{% extends 'base.html.twig' %}

{% block body %}

	{{ encore_entry_link_tags('type_eu_css') }}

	<div class="container-fluid p-5">
		{{form_start(form)}}
		

	<div class="row">
		<div class="col-2">
				{{ form_label(form.specificcaseid, 'Num. BNPV :') }}
				{{ form_widget(form.specificcaseid) }}
		</div>
		<div class="col-1">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
	</div>


	<div class="row">
		<div class="col-2">
			{{ form_label(form.dmmPoleChoice, 'DMM/Pôle :') }}
			{{ form_widget(form.dmmPoleChoice) }}
		</div>
		<div class="col-1">
			{{ form_label(form.evaluateurChoice, 'Évaluateur :') }}
			{{ form_widget(form.evaluateurChoice) }}
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
	</div>

	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-1">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
			{{ form_label(form.debutDateImport, 'Début date import :') }}
			{{ form_widget(form.debutDateImport) }}
		</div>
		<div class="col-2">
			{{ form_label(form.finDateImport, 'Fin date import :') }}
			{{ form_widget(form.finDateImport) }}
		</div>
	</div>

	<div class="row">
		<div class="col-2">
			{{ form_label(form.substanceName, 'Substance :') }}
			{{ form_widget(form.substanceName) }}
		</div>
		<div class="col-1">
		</div>
		<div class="col-2">
			{{ form_label(form.effetIndesirable, 'EI (Meddra PT) :') }}
			{{ form_widget(form.effetIndesirable) }}
		</div>
		<div class="col-1">
		</div>
		<div class="col-2">
			{{ form_label(form.narratif, 'Narratif :') }}
			{{ form_widget(form.narratif) }}
		</div>
		<div class="col-1">
		</div>
		<div class="col-2">
		</div>
		<div class="col-1">
		</div>
	</div>

	<div class="row">
		<div class="col-10">
		</div>
		<div class="col-1">
			{{ form_label(form.recherche, 'Recherche') }}
			{{ form_widget(form.recherche) }}
		</div>
		<div class="col-1">
			{{ form_label(form.reset, 'Reset') }}
			{{ form_widget(form.reset) }}
		</div>

	</div>

		{{form_end(form)}}
	</div>

	<div class="container-fluid p-5">

		<div class="container-fluid container-tab">
			{% if Susars %}
			
				Nombre de lignes : {{ NbSusar }}
				<h3>Liste des SUSARs</h3>
				{# {{dump(Susars)}} #}


				{% include "_partials/_susar_eu_liste.html.twig" %}
				
				{{ knp_pagination_render(Susars) }}
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('listeEvalSusar') }}
{% endblock %}
