{% extends 'base.html.twig' %}

{% block title %}Import de fichier CTLL
{% endblock %}

{% block body %}

	{{ encore_entry_link_tags('import_excel_css') }}


	{% for type, messages in app.flashes %}
		{% for message in messages %}
			{% if type == 'error' %}
				<div class="alert alert-danger">{{ message }}</div>
			{% elseif type == 'success' %}
				<div class="alert alert-success">{{ message }}</div>
			{% elseif type == 'warning' %}
				<div class="alert alert-warning">{{ message }}</div>
			{% else %}
				<div class="alert alert-info">{{ message }}</div>
			{% endif %}
		{% endfor %}
	{% endfor %}

	<div class="container-fluid p-5">
		{{form_start(form)}}

		{{form_end(form)}}

		{% if nbDonneesInserees is not empty %}
			{% set labels = {
			'nbOfExcelRow': 'Nombre de lignes Excel',
			'nbOfInsertedSusar': 'Nombre de SUSAR insérés',
			'nbOfInsertedMedic': 'Nombre de médicaments insérés',
			'nbOfInsertedEffInd': 'Nombre d\'effets indésirables insérés',
			'nbOfInsertedMedHist': 'Nombre d\'antécédents médicaux insérés',
			'nbOfInsertedIndic': 'Nombre d\'indications insérées',
			'nbSusarAttribue': 'Nombre de susars attribués',
			'nbMedicAttribue': 'Nombre de substances attribuées',
			'gatewayDate': 'Gateway date(s)',
			} %}

			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Table</th>
						<th>Nb lignes insérées</th>
					</tr>
				</thead>
				<tbody>
					{% for key, value in nbDonneesInserees %}
						<tr>
							<td><strong>{{ labels[key] is defined ? labels[key] : key }}</strong></td>
							{# <td>{{ value }}</td> #}

							<td>
								{% if key == 'gatewayDate' and value is iterable %}
									<ul>
										{% for date in value %}
											<li>{{ date }}</li>
										{% endfor %}
									</ul>
								{% else %}
									{{ value }}
								{% endif %}
							</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>

			{% if dureeImport is not empty  %}
				<p>Duree d'import ou de traitement : {{ dureeImport|number_format(3, '.', ',') }} secondes.</p>
			{% endif %}


			{% if nonAttribues is not empty and nonAttribues is not same as(0) %}

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th colspan="7" class="text-center fs-4 fw-bold text-danger">{{ nonAttribues|length }}
								susars non attribués
							</th>
						</tr>
						<tr>
							<th colspan="5" style="text-align: center;">Susars</th>
							<th colspan="2" style="text-align: center;">Médicament Suspect/Interaction</th>
						</tr>
						<tr>
							<th>EV Safety report identifier</th>
							<th>Case report number</th>
							<th>Num. EudraCT</th>
							<th>Sponsor study number</th>
							<th>id Susar</th>
							<th>Produit</th>
							<th>Substance</th>
						</tr>
					</thead>
					<tbody>
						{% set rowClass = 'couleur-ligne-1' %}
						{% for nonAttribue in nonAttribues %}
							{% if nonAttribue.susarEU is not null %}
								{% for medic in nonAttribue.susarEU.Medicament %}
									{% if medic.productcharacterization == 'Suspect' %}
										<tr class="{{ rowClass }}">
											<td>{{ nonAttribue.EVSafetyReportIdentifier }}</td>
											<td>{{ nonAttribue.CaseReportNumber }}</td>
											<td>{{ nonAttribue.StudyRegistrationN }}</td>
											<td>{{ nonAttribue.susarEU.Sponsorstudynumb }}</td>
											<td>{{ nonAttribue.susarEU.id }}</td>
											<td>{{ medic.productname }}</td>
											<td>{{ medic.substancename }}</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% set rowClass = rowClass == 'couleur-ligne-1' ? 'couleur-ligne-2' : 'couleur-ligne-1' %}
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<p class="text-center fs-4 fw-bold text-primary">Aucune donnée non attribuée.</p>
			{% endif %}

			{% else %}
			{# <p>Aucune donnée insérée.</p> #}
		{% endif %}


	</div>

{% endblock %}
