{% extends 'base.html.twig' %}

{% block title %}Détail d'un intervenant/substance{% endblock %}

{% block body %}

{# {{ encore_entry_link_tags('intervenant_substance_css') }} #}

{{ encore_entry_link_tags('int_sub_detail') }}

{# <div class="{% if IntSub.inactif %}rouge-clair{% else %}vert-clair{% endif %}"> #}
<body class="{% if IntSub.inactif %}rouge-clair{% else %}vert-clair{% endif %}">
    <div class="container-md">
        {% if IntSub %}
            <div class="row justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <h1>{{ IntSub.ActiveSubstanceHighLevel }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-left">

                    Intervenant Substance DMM
                    {% if IntSub.inactif %}
                        <span class="fw-bold fs-4">Inactif</span><br>
                    {% else %}
                        <span class="fw-bold fs-4">Actif</span><br>
                    {% endif %}
                    Id : {{ IntSub.id }}<br>
                    DMM : {{ IntSub.DMM }}<br>
                    Pole court : {{ IntSub.PoleCourt }}<br>
                    Évaluateur : {{ IntSub.IntervenantANSM.Prenom }} {{ IntSub.IntervenantANSM.Nom }} ({{ IntSub.evaluateur }}) <br>
                    SaMS/Mono : {{ IntSub.TypeSaMSMono }}<br>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if IntSub.AssociationDeSubstances %}
                        <h2>Association de substances :</h2>
                        <ul>
                            {% for LL_SA in IntSub.IntervenantSubstanceDMMSubstances %}
                                <li>{{ LL_SA.ActiveSubstanceLowLevel }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        Pas d'association de substances
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    Il n'y pas d'intervenant substance DMM
                </div>
            </div>
        {% endif %}
    </div>
</body>

{% endblock %}
